@inherits LayoutComponentBase

<div class="app-root">
    <header>
        <NavMenu />
    </header>

    <main class="main-content">
        @Body
    </main>

    <footer>
        <Footer />
    </footer>
</div>
